<!--<mat-grid-list cols="5">
  <mat-grid-tile colspan="4">

  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list>
-->
<ngx-extended-pdf-viewer
  [src]="sourcePDF"
  [height]="'90vh'"
  [customToolbar]="myCustomButtons"
  [useBrowserLocale]="true"
  [page]="pageNumber"
  [showHandToolButton]="false"
  [contextMenuAllowed]="false"
  [showDownloadButton]="false"
  [showBookmarkButton]="false"
  [showOpenFileButton]="true"
  [showScrollingButton]="false"
  [showPrintButton]="false"
  useBrowserLocale="true"
  [showBorders]="true"
  [zoom]="'130%'"
  [backgroundColor]="'#fafafa'"
></ngx-extended-pdf-viewer>
<ng-template #myCustomButtons>
  <div id="toolbarViewer" style="background: #7d442d">
    <div id="toolbarViewerLeft" style="color: white; padding: 5px;">
      {{titulo}}
    </div>
    <div id="toolbarViewerRight">
      <div style="top: 30px">
       <!-- <form>
          <mat-form-field>
            <mat-label style="color: #333333">Busca por Tema</mat-label>
            <mat-select [(value)]="topicSelected" (selectionChange)="searchByTopic($event.value)" style="height: 30px">
              <mat-option *ngFor="let tema of temas" [value]="tema.pagina">
                {{tema.tema}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        -->
      </div>
    </div>
    <div class="text-center">
      <pdf-zoom-toolbar></pdf-zoom-toolbar>
      <pdf-paging-area></pdf-paging-area>
    </div>
  </div>
</ng-template>
