@import '~@angular/material/_theming.scss';
@import './src/theme.scss';

.mat-display-1 {
  background: mat-color($candy-app-primary);
  margin-bottom: 0;
  padding: 15px;
  color: white;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  height: 5.1rem;
}

.container {
  padding-top: 5rem;
  margin-left: 2rem;

  .button-export{
   right: 2rem;
  }

  mat-grid-tile .mat-figure {
    align-items: start;
    padding-top: 4rem;
  }

  mat-grid-tile table {
    width: 99%
  }
}

.sin-estudiantes {
  color: #3c23059c;
  font-size: 1.2rem;
  padding: 10px;
}

.text-area-estudiantes {
  height: 150px;
  background-color: #f1f1f1;
  width: 100%;
}

.text-instrucion-nuevos-s {
  padding-top: 10px;
  color: #945300;
}

.mat-column-name {
  width: 200px;
}

.student-details {
  border-radius: 15px;
  width: 100%;
  table{
    width: 90%;
  }
}



.mat-column-fecha {
  width: 150px;
}

.mat-column-id {
  width: 100px;
}


.mat-column-nroRespuesta {
  width: 100px;
}

.mat-column-ejercicioOpcionPreguntaEnunciado {
  width: 350px;
}

.mat-column-respuesta {
  width: 200px;
}

.modal-delete-students {
  height: 90px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  form {
    text-align: center;
    margin-top: -20px;
    button {
      margin: 10px;
    }
  }
}

.mat-column-puntajeTotal {
  width: 50px;
}

.mat-column-tipoEjercicioNombre {
  width: 150px;
}

.mat-column-pagina{
  width: 35px;
}

.mat-column-tema {
  width: 150px;
}

.mat-column-delete {
  padding-right: 0;
}

.fix-background {
  img{
    height: 100vh;
    position: fixed;
    z-index: -100;
  }
}

.fix-logo img {
  position: fixed;
  top: 15px;
  right: 0;
  width: 13rem;
  height: auto;
  z-index: 20;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: $color-app-accent;
  animation: spinner .8s linear infinite;
  padding-bottom: 25px;
}


