<div class="h-100 align-items-center">
  <mat-card>

    <mat-card-content>
      <div>
        <mat-card-title>Nueva Contraseña</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input formControlName="password" type="password" matInput placeholder="Contraseña"/>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input formControlName="confirmPassword" type="password" matInput placeholder="Confirmar Contraseña"/>
            </mat-form-field>
          </p>

          <button type="submit" mat-raised-button color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Guardar</button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
      </div>

    </mat-card-content>
  </mat-card>
</div>
