@import '~@angular/material/_theming.scss';
@import './src/theme.scss';

.container {
  padding-top: 4rem;
  margin-top: 3rem;
}

.mat-display-1 {
  background: mat-color($candy-app-primary);
  margin-bottom: 0;
  padding: 15px;
  color: white;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  height: 5.1rem;
}

.fix-logo img {
  position: fixed;
  top: 15px;
  right: 0;
  width: 13rem;
  height: auto;
  z-index: 20;
}

.cardList {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}

.cardList > *:not(:last-child) {
  margin-right: 32px;
}

/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

app-class-card {
  margin-bottom: 3rem;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    -webkit-transition: transform 0.2s ease-in-out;
  }
}


#button-confirm-delete {
  width: 100%;
}

.text-area-estudiantes {
  height: 150px;
  background-color: #f1f1f1;
  width: 100%;
}

.text-instrucion-nuevos-s {
  padding-top: 10px;
  color: #945300;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: $color-app-accent;
  animation: spinner .8s linear infinite;
  padding-bottom: 25px;
}

.fix-background {
  img{
    height: 100vh;
    position: fixed;
    z-index: -100;
  }
}
