@import '~@angular/material/_theming.scss';
@import './src/theme.scss';

.container {
  padding-top: 5rem;
  margin-left: 2rem;
}

.fix-background {
  img{
    height: 100vh;
    position: fixed;
    z-index: -100;
  }
}

.fix-logo img {
  position: fixed;
  top: 15px;
  right: 0;
  width: 13rem;
  height: auto;
  z-index: 20;
}

.mat-display-1 {
  background: mat-color($candy-app-primary);
  margin-bottom: 0;
  padding: 15px;
  color: white;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  height: 5.1rem;
}

.container {
  padding-top: 5rem;
  margin-left: 2rem;
}
