@import '~@angular/material/_theming.scss';
@import './src/theme.scss';

.mat-display-1 {
  background: mat-color($candy-app-primary);
  margin-bottom: 0;
  padding: 15px;
  color: white;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  height: 5.1rem;
}

.container {
  padding-top: 5rem;
  margin-left: 2rem;
}

.table-track-list{
  width: 65vh;
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
}

table{
  width: 100%;
}

.media-player-fonoteca {
  top: 3rem;
}
mat-grid-tile-header{
  text-align: center;
}

mat-grid-tile{
  display: block;
}

.form-search{
  width: 100%;
  padding-left: 50px;
  mat-checkbox {
    padding-right: 20px;
  }
}

.media-player{
  width: 98%;
  padding-top: 35px;
  padding-left: 50px;
}

